<div class="aboutus-section">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aboutus">
                  <h2 class="aboutus-title">About Us</h2>
                  <p class="aboutus-text">We are a starup based in Mexico City, convinced that shceduling and your time it's the most valuable thing in this world.</p>
                  <p class="aboutus-text">Around 50 cities in the world, most of them in Mexico, 10 of them in Colombia and 10 all over United States</p>
                  <a class="aboutus-more" href="#">read more</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="aboutus-banner">
                  <img class="me" src="http://54.212.248.221:8090/v1.0/admin/projects/ARP/images/1e41e328-fecd-4a0c-a6c1-44ed4336b245" alt="">
              </div>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="feature">
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Work with heart</h4>
                              <p>2 years back up our work, over 100,000 establiasments happy with our service and assitance.</p>
                          </div>
                      </div>
                  </div>
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Reliable services</h4>
                              <p>Custumer support 24/7</p>
                          </div>
                      </div>
                  </div>
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Great support</h4>
                              <p>Intenrnational startup looking for interships to join our grat team.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>