<section>
  <div class="row">
    <div class="col-4 container">
      <h1>Reserve your appoinment in just
        a few clicks</h1>
        <p id="more-text">Join us today, regret  never, over 100 happy clients
          Mexico, Colombia and Unite States.</p>
          <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Reserve</button>
    </div>
    <div class="col">
      <div>
        <img  class="title-image" src="../../assets/phone.png" alt="iphone-mockup">
      </div>
    </div>
  </div>
  
</section>

