<section>
  <div class="row">
    <div class="col-4 container">
      <h1>Reserve your appoinment in just
        a few clicks</h1>
        <p id="more-text">Join us today, regret  never, over 100 happy clients
          Mexico, Colombia and Unite States.</p>
          <button type="button" class="btn btn-dark btn-lg download-button"><i class="fas fa-calendar-alt"></i> Reserve</button>
    </div>
    
    <div class="col">
      <div>
        <img  class="title-image" src="../../assets/phone.png" alt="iphone-mockup">
      </div>
    </div>
  </div>
  
</section>
<div class="container">
  <hr size="4">

</div>

<section id="features">
  <div class="row">
    <div class="features-box col-lg-4">
      <i class="icon fas fa-check-circle fa-4x"></i>
      <h3>Easy to use.</h3>
      <p>So easy to use, even your dog could do it.</p>
    </div>
    <div class="features-box col-lg-4">
      <i class="icon fas fa-bullseye fa-4x"></i>
      <h3> Elite Clientele</h3>
      <p>We have all the dogs, the greatest dogs.</p>
    </div>
   <div class="features-box col-lg-4">
    <i class="icon fas fa-heart fa-4x"></i>
    <h3>Guaranteed to work.</h3>
    <p>Find the love of your dog's life or your money back.</p>
   </div>
  </div>
    
  </section>


  <!-- Testimonials -->

  <section id="testimonials">
    <div id="testimonial-carrousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class="testimonial-text">I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
          <img  class="testimonial-image" src="http://54.212.248.221:8090/v1.0/admin/projects/ARP/images/d8d26dcd-c0e0-4f5c-a5ce-7c4bff12b84f" alt="dog-profile">
          <em>Pebbles, New York</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
          <img class="testimonial-image" src="http://54.212.248.221:8090/v1.0/admin/projects/ARP/images/d8d26dcd-c0e0-4f5c-a5ce-7c4bff12b84f" alt="lady-profile">
          <em>Beverly, Illinois</em> 
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
    <img class="testimonial-image" src="http://54.212.248.221:8090/v1.0/admin/projects/ARP/images/d8d26dcd-c0e0-4f5c-a5ce-7c4bff12b84f" alt="lady-profile">
    <em>Beverly, Illinois</em> 
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carrousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carrousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>


  <!-- Press -->

  <section id="press">
    <img class="images-press" src="http://54.212.248.221:8090/v1.0/admin/projects/ARP/images/c0a8cc8d-2a5f-4e8d-bf84-a428a8da59c2" alt="tc-logo">
    <img class="images-press" src="http://54.212.248.221:8090/v1.0/admin/projects/ARP/images/869b98fe-7a06-4e8c-a79a-fa6808a35c88" alt="tnw-logo">
    <img class="images-press" src="http://54.212.248.221:8090/v1.0/admin/projects/ARP/images/ab1b433d-d792-44bc-9745-8801dfa918e4" alt="biz-insider-logo">
    <img class="images-press" src="http://54.212.248.221:8090/v1.0/admin/projects/ARP/images/504aef0a-cca9-4559-ad3a-18aaae805906" alt="mashable-logo">

  </section>

  